@import url('https://fonts.googleapis.com/css?family=Nunito&display=swap');
body {
    font-family: 'Nunito', sans-serif;
    font-size: 18px;
    line-height: 30px;
    color: #8b9094;
    font-weight: normal;
}
a {
    transition: all 0.3s ease 0s;
    text-decoration: none;
}
a:active, a:hover, a:focus {
    outline: 0 none;
    text-decoration: none;
}
ul{
    transition: .4s;
}

#header{
    color: #222222;
    font-size:15px;
}
.social-link i{
    font-size: 15px;
    margin-right:15px;
}
.social-link i:hover{
    color: #38c3c8;
}
.btn {
    background-color: #38c3c8;
    font-size: 16px;
    font-weight: 700;
    color: #ffffff !important;
    padding: 0 20px;
    min-width: 180px;
    height: 50px;
    line-height: 48px;
    text-align: center;
    cursor: pointer;
    display: inline-block;
    transition: .3s;
    border-radius:0;
}
.lang{
    display: flex;
    align-items: center;
    padding:0;
    z-index: 9999;
}
.lang img{
    width: 26px;
    height: 26px;
    border-radius: 100%;
    margin-right: 15px;
}
.lang ul{
    list-style: none;
    padding:0;
}
.lang ul li a {
    font-weight: 700;
    color: #222222;
    position: relative;
    top: 2px;
}
.lang ul li a:hover{
    color: #fb5c71;
    text-decoration: none;
}

.lang ul li{
    padding: 10px 25px;
}
#header .navbar{
    border-bottom: 1px solid #ebebeb;
}
.bg-white{
    background-color: #ffffff;
}
.fa{
    margin-right: 10px;
}
.primary i{
    color: #38c3c7 !important;
}
#header-sticky{
    background-color: white;
}
#header-sticky .dropdown-item{
    min-width: 300px;
}
#header-sticky li{
    margin-right:45px;
    position: relative;
}
#header-sticky ul li a{
    position: relative;
}
#header-sticky .fas{
    font-size:20px;
    line-height: 2;
    cursor: pointer;
}
#header-sticky ul > li > a::after {
    position: absolute;
    bottom: 9px;
    left: 0;
    width: 0;
    background-color: #fb5c71;
    height: 2px;
    -webkit-transition: all 0.4s cubic-bezier(0.22, 0.68, 0, 1.71);
    -moz-transition: all 0.4s cubic-bezier(0.22, 0.68, 0, 1.71);
    -ms-transition: all 0.4s cubic-bezier(0.22, 0.68, 0, 1.71);
    -o-transition: all 0.4s cubic-bezier(0.22, 0.68, 0, 1.71);
    transition: all 0.4s cubic-bezier(0.22, 0.68, 0, 1.71);
    content: "";
}
#header-sticky ul li:hover a::after {
	width:100%;
}
.dropdown:hover > .dropdown-menu {
    display: block;
}
.dropdown > .dropdown-toggle:active {
    /*Without this, clicking will make it sticky*/
    pointer-events: none;
}
.spacer{
    padding-bottom: 50px !important;
}
.spacer-2x{
    padding-bottom: 100px !important;
}
#marketing{
    border-bottom: 1px solid #ebebeb;
    padding-bottom: 100px;
}
.heading h5{
    font-size: 16px;
    color: #38c3c7;
    text-transform: uppercase;
    margin-bottom: 20px;
    font-weight: 700;
}
.heading h4{
    font-size: 18px;
    font-weight: 700;
    line-height: 36px;
    position: relative;
    color: #212f36;
}
.heading h3{
    color: #222222;
    font-size:22px;
    font-weight: 700;
    position: relative;
    display: inline-block;
    margin: 0 0 8px 0;
    line-height: 1;
    word-break: break-word;
}

.heading h1{
    font-size: 80px;
    font-weight: 700;
    line-height: 88px;
    position: relative;
    display: inline-block;
    color: #212f36;
}
.heading h2{
    color: #222222;
    position: relative;
    display: inline-block;
    margin: 0 0 8px 0;
    line-height: 1;
    word-break: break-word;
    font-size:44px;
    font-weight: 700;
    z-index:5;
}
.heading h1::after, .heading h2::after, .heading h3::after{
    background-color: #fdadb8;
    height: 6px;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 8px;
    content: "";
    z-index: -1;
}

.btn-yt a{
    font-size: 18px;
    color: #212f36;
    font-weight: 700;
    display: flex;
    align-items: center;
}
.btn-yt a:hover {
    color: #38c3c8;
}
.btn-yt img{
    margin-right: 20px;
}

#marketing img{
    vertical-align: middle;
    border-style: none;
    max-width: 100%;
}
.check-list{
    list-style: none;
}
.check-list li::before {
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    content: "\f00c";
    position: absolute;
    top: 0;
    left: 0;
    color: #39c2c6;
}

.check-list li{
    position: relative;
    padding-left: 30px;
    display: block;
    margin-bottom: 8px;
    font-size: 18px;
    color: #767e83;
}

.counter-single {
	text-align:center;
	position:relative;
	padding-bottom:25px;
	border-bottom:4px solid #d7f3f4;
}
.counter-single::before, .counter-single::after {
	background-color:#fb5c71;
	height:4px;
	width:0;
	position:absolute;
	bottom:-4px;
	left:0;
	transition:.5s;
	content:"";
}
.counter-single::after {
	left:unset;
	right:0;
}
.counter-single::after {
	background-color:#fb5c71;
}
.counter-single:hover::before, .counter-single:hover::after {
	width:50%;
}
.counter-single i {
	font-size:48px;
	color:#fb5c71;
	display:block;
	margin-bottom:24px;
}
.counter-single span {
    font-weight: 700;
	font-size:48px;
	line-height:1;
	color:#38c3c7;
}
.counter-title {
	padding-left:8px;
}
.counter-single h4 {
	font-size:18px;
	font-weight:700;
	line-height:26px;
	color:#222222;
	margin:6px 0 0 0;
}
#services i {
    background-image: url(../img/icon-behind.png);
    background-repeat: no-repeat;
    font-size: 42px;
    color: #fb5c71;
    align-items: center;
    flex: 0 0 96px;
    width: 96px;
    height: 90px;
    text-align: center;
    line-height: 92px;
    margin-right:15px;
}
#services h4{
    font-weight: 700;
    color: #212f36;
    line-height: 38px;
	font-size:22px;
	margin-bottom:10px;
	position:relative;
	display:inline-block;
}
p {
	position:relative;
    z-index:2;
    font-size: 16px;
    line-height: 26px;
}
#services h4::after {
	background-color:#fdadb8;
	height:4px;
	width:0;
	position:absolute;
	left:0;
	bottom:4.5px;
	content:"";
	z-index:1;
	transition:.3s;
}
#services:hover h4::after {
	width:100%;
}
#benefits{
    background-color: #f3f8f8 !important;
}
#benefits i {
    font-size: 42px;
    color: #fb5c71;
    text-align: center;
}
.form-title{
    font-size:30px !important;
}
.form-title::after{
    bottom: 3px !important;
    height: 4px !important;
}
.contact-form {
	background-color:#ffffff;
	padding:50px;
	border-radius:10px;
	box-shadow: 5.5px 9.526px 43px 0px rgba( 98, 143, 144, .15 );
}
.form-group input[type='text'], .form-group input[type='email'] {
    border: 0;
    border-radius: 5px;
    height: 50px;
    color: #3e4140;
}
.form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.contact-form input, .contact-form select, .contact-form textarea {
	background-color:#f3f8f8;
	border:2px solid #f3f8f8 !important;
}
.contact-form input:focus, .contact-form select:focus, .contact-form textarea:focus {
	border-color:#fb5c71 !important;
	background-color:#ffffff;
}
.contact-form textarea {
	height:140px;
}
.contact-form .btn {
	background-color:#fb5c71;
	border:0;
	border-radius:50px;
}
.contact-form .btn:hover {
	background-color:#e54d61;
}
.process-single {
    background-color: #ffffff;
    text-align: center;
    box-shadow: 5.5px 9.526px 43px 0px rgba( 98, 143, 144, .15 );
    border-radius: 50px;
    padding-top: 50px;
    position: relative;
    padding-bottom: 50px;
    overflow: hidden;
    z-index: 2;
}
.process-single i {
    font-size: 48px;
    color: #fb5c71;
    margin-bottom:10px;
}
.process-single h4 {
    font-size: 22px;
    font-weight: 600;
    color: #38c3c7;
    line-height: 36px;
}
.process-single span {
    font-size: 80px;
    color: #fb5c71;
    opacity: .20;
    position: absolute;
    left: 0;
    right: 0;
    bottom: -10px;
}
#process{
    background: rgba(0, 0, 0, 0) url(../img/bg-wave.png) no-repeat scroll center bottom / contain;
}
.pricing-nav {
    margin-bottom: 30px;
	width:100%;
	display:block;
}
.pricing-nav ul {
    border: 0;
    text-align: center;
    display: inline-block;
}
.pricing-nav ul li {
	display:inline-block;
	margin-right:15px;
}
.pricing-nav ul li a {
	font-size:22px;
	font-weight:700;
	color:#c4c4c4;
	position:relative;
}
.pricing-nav ul li a::after {
	background-color:#fb5c71;
	height:4px;
	width:0;
	position:absolute;
	left:0;
	bottom:-6px;
	transition:.5s;
	content:"";
}
.pricing-nav ul li a.active {
	color:#222222;
}
.pricing-nav ul li a.active::after {
	width:100%;
}
.pricing-table-single {
	background-color:#ffffff;
	box-shadow: 5.5px 9.526px 43px 0px rgba( 98, 143, 144, .15 );
	border-radius:10px;
	padding-bottom:40px;
	position:relative;
	z-index:1;
}
.pricing-table-head {
    background-image: url(../img/bg-table-1.jpg);
    background-size: cover;
    background-position: center center;
    color: #ffffff;
	border-radius:10px  10px 0 0;
}
.pricing-table-single.highlight .pricing-table-head {
	background-image: url(../img/bg-table-2.jpg);
}
.pricing-table-single.highlight-2 .pricing-table-head {
	background-image: url(../img/bg-table-1.jpg);
}
.pricing-table-head {
	padding:27px 40px 37px 40px;
}
.pricing-table-head h3 {
	font-size:26px;
	color:#ffffff;
	margin-bottom:0;
}
.pricing-table-head p {
	margin-bottom:33px;
}
.pricing-table-head h4 {
	color:#ffffff;
	font-size:60px;
}
.pricing-table-head h4 sup {
	font-size:36px;
}
.pricing-table-head h4 span {
	font-size:16px;
	font-weight:normal;
}
.pricing-table-body {
	padding:40px 40px 0 40px;
}
.pricing-table-body ul.check-list li {
	margin-bottom:13px;
}
.pricing-table-body ul.check-list li::before {
	color:#fb5c71;
}
.pricing-table-single .btn {
	min-width:100%;
	border-radius:50px;
	margin-top:30px;
}
.pricing-table-single.highlight .btn {
	background-color:#fb5c71;
	border:0;
	border-radius:50px;
}
.pricing-table-single.highlight .btn:hover {
	background-color:#e54d61;
}
.pricing-table-single.highlight-2 .btn {
	background-image: -moz-linear-gradient( 120deg, rgb(255,93,198) 0%, rgb(249,144,108) 100%);
	background-image: -webkit-linear-gradient( 120deg, rgb(255,93,198) 0%, rgb(249,144,108) 100%);
	background-image: -ms-linear-gradient( 120deg, rgb(255,93,198) 0%, rgb(249,144,108) 100%);
}
.pricing-table-single.highlight-2 .btn:hover {
	background-image: -moz-linear-gradient( 0deg, rgb(255,93,198) 0%, rgb(249,144,108) 100%);
	background-image: -webkit-linear-gradient( 0deg, rgb(255,93,198) 0%, rgb(249,144,108) 100%);
	background-image: -ms-linear-gradient( 0deg, rgb(255,93,198) 0%, rgb(249,144,108) 100%);
}
#pricing{
    position: relative;
}
#pricing::before {
    background-color: #f3f8f8;
    width: 100%;
    height: 125px;
    position: absolute;
    left: 0;
    bottom: 0;
    content: "";
}
#news img{
    max-width: 100%;
    border-radius:10px;
}
#news .btn-thumb{
    background-color: #fb5c71;
    font-size: 12px;
    text-transform: uppercase;
    padding: 5px 20px;
    color: #ffffff;
    border-radius: 2px;
    font-weight: 700;
}
#news h4 a{
    font-size: 24px;
    color: #222222;
    line-height: 32px;
}
#news h4 a:hover {
    color: #fb5c71;
}
#news span{
    color: #c4c4c4;
    font-size: 12px;
    cursor: pointer;
}
#brands{
    background-color: #f3f8f8 !important;
}
.slick-slide:focus {
	outline:0 !important;
}
.brand-item {}
.brand-item a img.brand-dynamic {
	display:none;
}
.brand-item a:hover img.brand-static {
	display:none;
}
.brand-item a:hover img.brand-dynamic {
	display:inline-block;
}
.brands-carousel .slick-slide {
	text-align:center;
}
.brands-carousel .slick-slide img {
	display:inline-block;
}
.brands-list {
	border-left:1px solid #ebebeb;
	border-top:1px solid #ebebeb;
    display: flex;
    flex-wrap: wrap;
}
.brands-list div {
	flex: 0 0 25%;
	max-width: 25%;
	height: 200px;
	text-align: center;
	border-right: 1px solid #ebebeb;
	align-items: center;
	line-height: 215px;
	border-bottom: 1px solid #ebebeb;
}
.brands-list li a {
	display:block;
	height:100%;
}
.brand-item.style-2 {
	border: 1px solid #ebebeb;
	height:155px;
	text-align:center;
	line-height:140px;
}
.brand-item.style-2 img {
	display:inline-block;
}
.brand-desc h3 {
	font-size:30px;
}
.brand-desc p {
	margin-bottom:0;
}
.footer-area.bg-1 {
	background-color:rgba(24, 111, 114, 1);
}
.footer-area.bg-1::before {
	background: rgba(0, 0, 0, 0) url("assets/images/bg/footer-bg.png") no-repeat scroll center center / cover ;
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	content:"";
	z-index:1;
	opacity:.20;
}
.footer-area.overlay .container {
	position:relative;
	z-index:2;
}
.footer-logo img {
	margin-bottom:35px;
}
.subscribe-form {
	position:relative;
}
.subscribe-form-inner {
	box-shadow: 2.5px 4.33px 27px 0px rgba( 98, 143, 144, .15 );
}
.subscribe-form input {
	height:50px;
	border:0;
	box-shadow: 2.5px 4.33px 27px 0px rgb( 98, 143, 144, .15 );
	width:100%;
	border-radius:10px;
	padding-left:20px;
}
.subscribe-form input::placeholder {
	color:#c4c4c4;
}
.subscribe-form button {
    background-color: #fb5c71;
    color: #ffffff;
    font-size: 16px;
    border: 0;
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 50px;
    position: absolute;
    right: 0;
    top: 0;
    border-radius: 0 10px 10px 0;
}
.subscribe-form p {
	margin:20px 0 0 0;
	font-size:16px;
}
.subscribe-form.style-3 input {
	border-radius:50px;
}
.subscribe-form.style-3 button {
    height: auto;
    width: auto;
    border-radius: 0 50px 50px 0;
    padding: 0 30px;
}
.subscribe-text h3 {
	font-size:36px;
}
.subscribe-text p {
	font-size:18px;
	color:#8b9094;
	margin-bottom:0;
}
.footer-widget-title h4 {
    font-size:20px;
    font-weight: 700;
	color:#222222;
	display:inline-block;
	position:relative;
    margin-bottom:35px;
    line-height: 36px;
}
.footer-widget-title h4::after {
	background-color:#fdadb8;
	height:3px;
	width:100%;
	position:absolute;
	left:0;
	bottom:9px;
	content:"";
	z-index:1;
}
.footer-widget-title h4 span {
	position:relative;
	z-index:2;
}
.footer-widget-title.style-2 h4 {
	color:#ffffff;
}
.footer-widget-title.style-2 h4::after {
	background-color:#fb5c71;
	opacity:.50;
}
.footer-widget ul li {
	display:block;
	margin-bottom:10px;
}
.footer-widget ul li a {
	font-size:16px;
	color:#8b9094;
}
.footer-widget ul li a:hover {
	color:#fb5c71;
}
.footer-contact h5 {
	font-size:22px;
	color:#fb5c71;
	margin-bottom:10px;
}
.footer-contact.style-2 h5 {
	color:#ffffff;
}
.footer-contact ul li {
	margin-bottom:6px;
}
.social-icons.style-2 a {
	font-size:16px;
	width:40px;
	height:40px;
	line-height:40px;
	text-align:center;
	border:1px solid #feced4;
	border-radius:100%;
	color:#222222;
}
.social-icons.style-2 a:hover {
	background-color:#fb5c71;
	border-color:#fb5c71;
	color:#ffffff;
}
.social-icons.style-4 a {
	background-color:#468c8e;
	border-color:#468c8e;
}
.footer-copyright p {
	margin-bottom:0;
	font-size:16px;
}
.footer-menu ul li {
	display:inline-block;
	margin-right:25px;
}
.footer-menu ul li:last-child {
	margin-right:0;
}
.footer-menu ul li a {
	font-size:16px;
	color:#8b9094;
}
.footer-menu ul li a:hover {
	color:#fb5c71;
}
ul.list-none {
    margin: 0;
    padding: 0;
    list-style: none;
}
.social-icons {
	display: flex;
    align-items: center;
    padding-right: 30px;
}
.social-icons a {
	color:#222222;
	font-size:15px;
	display:inline-block;
	margin-right:20px;
}
.social-icons a:last-child {
	margin-right:0;
}
.footer-copyright p {
	margin-bottom:0;
    font-size:16px;
}
.footer-menu ul li {
	display:inline-block;
	margin-right:25px;
}
.footer-menu ul li:last-child {
	margin-right:0;
}
.footer-menu ul li a {
	font-size:16px;
	color:#8b9094;
}
.footer-menu ul li a:hover {
	color:#fb5c71;
}
.bt-footer{
    border-top: 1px solid #ebebeb;
}
.pull-right{
    float:right;
}